{{> top title="Callback, multiple elements, as option, only once"}}

<button type="button" class="destroy">Destroy instance</button>

<div class="block"></div>
<div class="block"></div>
<div class="block"></div>
<div class="block"></div>
<div class="block"></div>
<div class="block"></div>
<div class="block"></div>

<script>

	$('.block').inViewport({
		threshold: 300,
		success: function ( el ) {
			console.info('Success called!', el);
		},
		once: function ( el ) {
			console.log('Once called!', el);
		}
	}).html('Plugin initialized');

	$('.destroy').on('click', function () {
		$('.block').inViewport('destroy').html('Instance destroyed');
	});

</script>

{{> bottom}}
