{{> top title="Debounce, multiple elements, defaults changed"}}

<button type="button" class="destroy">Destroy instance</button>

<div class="block"></div>
<div class="block"></div>
<div class="block"></div>
<div class="block"></div>
<div class="block"></div>
<div class="block"></div>
<div class="block"></div>


<script>

	$.fn.inViewport.defaults.debounce = 1000;

	$('.block').inViewport({
		threshold: 300,
		success: function ( el ) {
			if ( !+'\v1' ) {
				alert(JSON.stringify(el, null, '\t'));
			} else {
				console.log( el );
			}
		}
	}).html('Plugin initialized');

	$('.destroy').on('click', function () {
		$('.block').inViewport('destroy').html('Instance destroyed');
	});

</script>

{{> bottom}}
