{{> top title="Sans callback"}}

<div class="block"></div>
<div class="block"></div>
<div class="block"></div>
<div class="block"></div>
<div class="block"></div>
<div class="block"></div>
<div class="block"></div>

<script>

	$(window)
		.on('scroll', function () {

			console.clear(  );
			console.log( Boolean($('.block').inViewport().length) );
			console.log( $('.block').inViewport(300) );
			console.log( Boolean($('.block').eq(0).inViewport({ threshold: 100 }).length) );

		})
		.on('resize', function () {

			console.clear(  );
			console.log( Boolean($('.block').inViewport().length) );
			console.log( $('.block').inViewport(300) );
			console.log( Boolean($('.block').eq(0).inViewport({ threshold: 100 }).length) );

		})
		.trigger('scroll');

</script>

{{> bottom}}
